*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

section.main{
    background-image: url('../imagens/HERO\ BACKGROUND.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding: 10px 0 10px 0;
}

.menu{
    display: flex;
    width: 100%;
    padding: 0 10px;
}

.logo-menu{
    width: 80%;
    padding: 0 10px;
}

.itens-menu{
    width: 50%;
    text-align: right;
    
}

.itens-menu a{
    font-weight: bold;
    color: #F0F4FA;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    
}

.itens-menu a:hover{
    border-bottom: 2px solid #FFDD33;
}

.itens-menu a.contact-btn{
    background-color: #0F3FD3;
    padding: 8px 10px;
    border-radius: 8px;
}

.itens-menu a.contact-btn:hover{
    border-bottom: 0;
}

.mockup{
    display: block;
    width: 100%;
    color: #F0F4FA;
    text-align: center;
    padding: 4%;
}

.mockup h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.mockup img{
    max-width: 100%;
    
    padding-top: 2%;
}
section.marcas{
    
    padding: 10px;
}

section.marcas img{
    width: calc(100% / 5);
    
}

section.porque-nos {
    padding: 50px 0;
    background-color: #FBFCFE;
}

section.porque-nos > .center > h2{
    font-size: 64px;
    text-align: center;
    width: 100%;
}

section.porque-nos > .center > p{
    font-size: 16px;
    color: #ccc;
    text-align: center;
    width: 100%;
    margin-top: 1%;
}


.diferenciais{
    display: flex;
    margin-top: 3%;

}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    padding: 10px 20px;
    width: 31%;
    margin-right: 2%;
    border-radius: 20px;  
}

.box-diferenciais h3{
    color: black;
    font-size: 28px;
    margin: 20px 0;
}

.box-diferenciais p{
    color: #7E92AC;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .diferenciais{
        
        flex-wrap: wrap;
        
    }

    .box-diferenciais{       
        width: 100%;
        margin-right: 0;
        border-radius: 20px; 
       
    }

    section.marcas{
        text-align: center;
        

    }

    section.marcas img{
        width: 50%;
        
        
    }
    
}

